.hoodie-details {
  min-height: calc(100vh - 220px);
}

.hoodie-details .hoodie-row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.hoodie-details .img-col {
  display: flex !important;
  justify-content: flex-end !important;
}

.hoodie-details .details-col {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 10px;
  .hoodie-title {
    font-size: 40px;
    font-weight: 600;
  }
  .hoodie-desc,
  .size,
  .color {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
  }
  .size,
  .color {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .price {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    gap: 10px;
  }
  .button {
    justify-self: flex-end !important;
  }
}

@media (max-width: 992px) {
  .hoodie-row {
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px;
    .img-col {
      justify-content: center !important;
    }
    .details-col {
      align-items: center !important;
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  .img-col {
    img {
      width: 100% !important;
    }
  }
}
