.product-card {
  width: 245px;
  padding: 0px;
  height: 320px;
}

.product-card img {
  width: 245px;
  height: 238px;
  margin-bottom: 15px;
}

.product-card h3,
.product-card p {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .product-card {
    width: 150px;
    padding: 0px;
    height: 220px;
  }
  .product-card img {
    width: 150px;
    height: 150px;
  }
  .product-card h3,
  .product-card p {
    font-size: 15px;
  }
}
